<!DOCTYPE html>
{% extends "FuturePlanning/mybase.html" %}
    {% block body_block%}




    <div class="container" style="margin-top:60px; ">
      <h2>Edit Record</h2>
      {% if erros %}
            {% for err in erros %}
              <h3>{{erros}}</h3>
            {% endfor %}
      {% else %}

      {% endif %}

      <form method="POST" class="mycrecord">
        {{ del_c_record_form.as_p }}
        {% csrf_token %}
    
        <input type="submit" class='btn btn-primary' value="Submit" id="submit_btn">
      </form>
    </div>



  </body>
  <style>
    .mycrecord {
        color: black;

    }
  </style>
  <script>
  document.getElementById("id_Rec_Name").style.backgroundColor="lightgray"
  document.getElementById("id_Rec_Type").style.backgroundColor="lightgray"
  // function myFunction()
  // {
  //   document.getElementById("submit_btn").click()
  //   console.log("help")
  // }



  var array1 = {{ Indata|safe }};
  var select = document.getElementById('id_Rec_Name');
  var array_length=array1.length
  console.log("in int in list length:")
  console.log(array_length);
  for (var i = 0; i<array_length; i++)
  {
    console.log("in int in for")
    console.log(i);
    var opt = document.createElement('option');
    opt.value = i.toString();
    opt.innerHTML = array1[i];
    select.appendChild(opt);
  }
  var array2 = {{ Expdata|safe }};
  function myFunction1()
  {
    console.log("start func")
    var select1 = document.getElementById("id_Rec_Name");
    var length = select1.options.length;

    console.log("list length:")
    console.log(length);
    if(length>0)
    {
      for (i = length-1; i >= 0; i--)
       {
        console.log("clear option:")
        select1.options[i] = null;
       }
    }

    var select = document.getElementById('id_Rec_Name');
    var rec_type_select = document.getElementById("id_Rec_Type")
    console.log("rec type select=")
    console.log(rec_type_select.value)
    if (rec_type_select.value == "1")
    {
      console.log("rec type select is 1")
      current_array=array1
    }
    else {
            if (rec_type_select.value == "2")
            {
            console.log("rec type select is 2")
            current_array=array2
            }
            else
                {
                    console.log("rec type select is 3 or 4")
                    current_array=array1
                }
         }
    console.log("current array:")
    console.log(current_array);
    var array_length=current_array.length
    for (var i = 0; i<array_length; i++)
    {
      var opt = document.createElement('option');
      opt.value = i.toString();
      opt.innerHTML = current_array[i];
      select.appendChild(opt);
    }

}
  </script>
</html>
{% endblock %}
