<!DOCTYPE html>
{% extends "FuturePlanning/mybase.html" %}
    {% block body_block%}

    <div id="dataContainer" class="container-xxl" style="margin-top:60px; ">
      <div id="dataRow" class="row">
        <div id="tenSlotsData" class="col-lg-10 boxy" >
          <div id="Family Info" class="row">
            <div class="col-lg-12 boxy" ><p><span style="font-size:25px;">Family Name:</span><span style="font-size:20px;">{{FamName}}</span></p>
            </div>
          </div>
          <div id="inAndExpRow" class="row">
            <div id="inTable" class="col-lg-6  boxy" >
              <h2>Income Data Table</h2>
              <div class="div_table_wrapper">
                {{InTable|safe}}
              </div>

            </div>
            <div id="expTable" class="col-lg-6   boxy" >
              <h2>Expanse Data Table</h2>
              <div class="div_table_wrapper">
                {{ExpTable|safe}}
              </div>
            </div>
          </div>

          <div id="savAndLoanRow" class="row">
            <div id="loanTable" class="col-lg-6 boxy" >
              <h2>Loans Data Table</h2>
              <div class="div_table_wrapper">
                <table id="tLoanTable" class="table table-striped table-bordered table-responsive">
                    <thead></thead>
                    <tbody></tbody>
                </table>
              </div>
            </div>
            <div id="savTable" class="col-lg-6 boxy" >
              <h2>Savings Data Table</h2>
              <div class="div_table_wrapper">
                <table id="tSavTable" class="table table-striped table-bordered table-responsive">
                    <thead></thead>
                    <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- *********** -->
          <div id="savAndLoanRow" class="row">
            <div id="loanTable" class="col-lg-12 boxy" >
              <h1>Charts</h1>
              <div id="myPlot" style="max-width:1200px;max-height:400px;"></div>
              <div id="exp_myPlot" style="max-width:1200px;max-height:400px;"></div>
            </div>
          </div>
          <!-- *********** -->
        </div>
        <div id="twoSlotsData" class="col-lg-2 boxy" >
            <h1>Summery</h1>
        </div>
      </div>
    </div>
    <!-- <h1>Charts</h1>
    <div id="myPlot" style="max-width:600px;max-height:400px;"></div> -->


    <script>
    var xArray ={{IncomeXAxies|safe}}
    var yArray ={{IncomeYAxies}}
    // Define Data
    var data = [{
      x: xArray,
      y: yArray,
      mode:"lines"
    }];
    // Define Layout
    var layout = {
      xaxis: {title: "Date"},
      yaxis: {title: "Value"},
      title: "In come"
    };
    // Display using Plotly
    Plotly.newPlot("myPlot", data, layout);

    var ExpxArray ={{ExpXAxies|safe}}
    var ExpyArray ={{ExpYAxies}}

    // Define Data
    var exp_data = [{
      x: ExpxArray,
      y: ExpyArray,
      mode:"lines"
    }];
    // Define Layout
    var exp_layout = {
      xaxis: {title: "Date"},
      yaxis: {title: "Value"},
      title: "Expanse",
      // plot_bgcolor:"black",
      paper_bgcolor:"#FFF3"
      // plot_bgcolor:#e8eded
    };
    // Display using Plotly
    Plotly.newPlot("exp_myPlot", exp_data, exp_layout);



  </script>


    </body>
  </html>

    {% endblock %}
